[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
matplotlib = "*"
numpy = "*"
scikit-learn = "*"
jupyter = "*"
nb-black = "*"
pathlib = "*"
statsmodels = "==0.10.2"
fastcluster = "*"
seaborn = ">=0.11.1"
ipykernel = "*"

[dev-packages]

[requires]
python_version = "3.7"
